<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<form action="" name="login-form">
    <input type="text" name="username" value="name"/>
    <button type="submit">добавить</button>
</form>

<script>
    $(document.forms['login-form']).on('submit', () => {
        var form = $(this);
        console.log("form.serialize()", form.serialize());
        $.ajax({
            url: '/user/create',
            method: 'POST',
            data: {username: "Pavel"},
            complete: () => {

            },

            // statusCode: {
            //     200:
            // }
        })

        return false;
    })
</script>
</body>
</html>